{% extends 'accounts/accountbase.html' %}

{% load static %}

{% block content %}
        <div class="registration-form">
            <form method="POST">
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>
                {% csrf_token %}

                <div>
                    {% include 'accounts/include/alert.html' %}
                </div>

                <div class="form-group">
                    <h1 style="font-weight: 600;" class="text-center">ResetPassword</h1>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control item"  placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" name="confirm_password" class="form-control item"  placeholder="Password (again)">
                </div>
                <div class="form-group">
                    <!-- <button type="button" class="btn btn-block create-account">Reset Password</button> -->
                    <input type="submit" class="btn btn-block create-account" value="Reset Password">
                </div>
            </form>
        </div>
{% endblock %}

