{% extends 'accounts/accountbase.html' %}

{% load static %}

{% block content %}
        <div class="registration-form">
            <form method="POST" action="{% url 'teacher_register' %}">
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>

                {% csrf_token %}
                {{form.as_p}}
                <div class="form-group">
                    <input type="submit" class="btn btn-block create-account" value="register as teacher">
                </div>
                <div class="form-group text-center">
                    <p> If you have already  an account <a href="{% url 'login' %}">login</a></p>
                </div>
            </form>
        </div>
{% endblock %}
