

{% if messages %}

{% for message in messages %}
<div id="message" class="container text-center">
<div {% if message.tags %} class="alert alert-{{ message.tags }} "{% endif %} role="alert"> 
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
 <p style="font-size: large; color: black; float: left;">{{ message }}</p> 
  <button type="button" class="close text-right" data-dismiss="alert"><span aria-hidden="true" style="float: right;">&times;</span></button>
</div>
</div>
{% endfor %}

{% endif %}