
{% extends '../dashboard/base.html' %}


{% block content %}

{% if user.is_active and user.is_authenticated and user.is_emailverified %}


<div class="u-content">
    <div class="u-body">

        <!-- breadcumb-area -->
        <section class="breadcumb-area card bg-gradient mb-5">
            <div class="bread-cumb-content card-body d-flex align-items-center">
                <div class="breadcumb-heading">
                    <h2 class="text-white">My Profile</h2>
                </div>
                <div class="breadcumb-image ml-auto">
                    <img src="{% static 'assets/img/breadcumb-dashboard.png' %}" alt="">
                </div>
            </div>
        </section>
        <!-- End breadcumb-area -->

        

        
        <section class="profile-area card">
              <div class="profile-content card-body d-flex">
                  <div class="user-image-wrap mr-5">
                      <img src="{% static 'assets/img/profile-photo.png' %}" alt="">
                  </div>
                  <div class="user-about">
                      <h2 class="text-danger">{{user.first_name}} {{last_name}}</h2>
                      
                      {% if user_pass.is_student %}
                        <p><strong>(user.faculty & user.semister)</strong></p>
                      {% endif %}
                          
                      <!-- <p><strong>(Mathematics & Accounting Teacher)</strong></p> -->
                      <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p> -->
                      
                      
                      <p>Email: {{user_pass.email}}</p>
                      <p>Phone: {{user_pass.phone_number}}</p>
                      {% if user_pass.is_student %}
                        <p>Date of Birth: {{user_pass.date_of_birth}}</p>
                      {% endif %}
                       <br>
                      <br>
                      <a href="" class="btn btn-outline-danger pl-4 pr-4">Edit</a>
                  </div>
              </div>
        </section>

    </div>
</div>

{% endif %}    
{% endblock content %}
    
    



